.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    height: 100vh;
    padding-left: 50vw;

    animation-name:moveInRight;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}

.modal-header, .modal-footer {
    padding: 10px;
    height: 70vh;
    display: flex;
    align-items: center;
}

.modal-title{
    margin: 0;
}

.modal-body{
    padding: 10px;
    border-top: 1px solid rgba(238, 238, 238, 0.589);
    border-bottom: 1px solid rgba(238, 238, 238, 0.589);
}

.modal-content{
    background-color:#eee;
    padding: 5vw;
    height: 69vh;
    width: 50vw;
    border-top-left-radius: 100vh;
    border-bottom-left-radius: 100vh;
    padding-left: 9vw;
    padding-top: 30vh;
}

.modal-info{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 767px){
    .modal-content{
        padding-top: 36vh;
        height: 100vh;
    }

    .modal{
        padding-left: 61vw;

        animation-name:moveInRight;
        animation-duration: .5s;
        animation-timing-function: ease-out;
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(30rem)
    }
    80% {
        transform: translateX(0rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}