.modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.modal-content {
  position: absolute;
  right: 0;
  background-color: rgb(255, 187, 0);
  color: rgb(192, 31, 31);
  width: 50vw;
  height: 100%;
  border-radius: 2em 0 0 2em;
  animation-name: moveInRight;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.modal-header {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item {
  color: rgb(192, 31, 31);
  text-decoration: none;
  font-weight: 600;
  padding: 0.75em;
  margin: 0.75em 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100vw);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    opacity: 1;
  }
}
