*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

.home{
    height: 65vh;
}

.overPicText{
    display: flex;
    margin-top: -15;
}