.header{
    background-image: url('../picture/background.jpg');
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-around;
    height: 20vh;
    width: 100vw;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14vw;
    height: 5vh;
    color: rgb(207, 207, 207);
}

