.header{
    /* background-image: url('../picture/newbackground.jpg'); */
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.headerBox{
    display: flex;
    justify-content: space-around;
    height: 8vh;
    text-align: center;
}

.headerText{
    margin-top: 2.5vh;
}

.headerImg{
    height: 33vh;
    width: 103vw;
}

.burgerContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
    width: 50px;
    margin-top:2.25vh;
    padding-top: 3px;
}

.burger{
    height: 5px;
    background-color: rgb(255, 187, 0);
    width: 30px;
}

headerBackground{
    position: relative;
}

.logo{
    width: 45vw;
    height: 80%;
    margin-top: 1.5vh;
}