.footer {
	margin-top: 1em;
  width: 100vw;
  padding: 1em 0;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 -0.1em 0.5em 0 #777;
}

.footerContents {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerContents p {
  text-align: center;
}

.footerContents a {
  text-decoration: none;
  color: #000;
}
