.footer{
    height: 10vh;
}

.footerContents{
    display: flex;
    justify-content: space-between;
    width: 99vw;
    height: 10vh;
}

.contents{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 10vh;
    color: rgb(24, 17, 0);
    text-align: center;
}
